<div class="overflow-x-hidden max-w-6xl mx-auto py-4 relative z-10">
   <div class="px-6 py-8">
        <div class="flex justify-between container mx-auto">
            <div class="w-full lg:w-8/12">
                <div class="flex items-center justify-between">
                    <h1 class="text-xl font-bold text-gray-200 md:text-2xl">Posts</h1>
                </div>
              {{ collection:posts sort="date:desc" }}
		{{ if no_results }}
		 <p>There are no blog entries. What a lazy site admin!</p>
		{{ /if }}
		<div class="mt-6">
                 <div class="max-w-4xl shadow-xl bg-cover rounded-lg border-b-4 border-green-600 shadow-md bg-repeat-x" style="background-image: url('{{ glide:featured_image format="webp" }}')">
                        <div class="bg-white bg-opacity-80 px-4 py-6 rounded-lg">
			<div class="flex justify-between items-center pb-2 border-b">
                        <a href="{{ url }}" class="text-2xl text-gray-700 font-bold hover:underline">{{ title }}</a>
                                <div class="mt-2">
                                <span class="ml-2 font-light text-gray-600">{{ publish_date format="m-d-Y"}}</span>
                                <a href="#"
                                class="ml-2 px-2 py-1 bg-green-500 text-white font-bold rounded hover:bg-gray-600">{{ category }}</a>
                                </div>
                                </div>
                                {{ updated_by }}
                                <div class="pr-2">
                                        <span class="text-gray-400 text-sm font-bold hover:underline">{{ name }}</span>
                                {{ /updated_by }}
       				</div>
	                     	
				<p class="mt-2 text-gray-600">{{ post | safe_truncate:500:... }}</p>
				<div class="mt-4"><a href="{{ url }}">Read More ></a></div>
                                    <div class="flex justify-between items-center mt-4">
                                   </div>
                        </div>
                    </div>
			</div>
                {{ /collection:posts }}

<div class="mt-8">
                    <div class="flex">
                       
                    </div>
		</div>
                </div>
<div class="-mx-8 w-4/12 hidden lg:block">
                <div class="px-8">
                    <h1 class="mb-8 text-xl font-bold text-gray-200">Categories</h1>
                    <div class="flex flex-col bg-gray-100 px-4 py-6 max-w-sm mx-auto rounded-lg shadow-md">
                        <ul>
	{{ collection:posts from="category" }}
                            <li class="mb-2"><a href="#" class="text-gray-700 font-bold mx-1 hover:text-gray-600 hover:underline">-
                                    {{ category }}</a></li>
        {{ /collection:posts }}
			</ul>
                    </div>
                </div>
	
            </div>
        </div>
    </div>
</div>




</div>
        </div>
    </div>
</div>

