<div class="max-w-6xl mx-auto py-4 md:py-16 relative z-10">
<div class="mt-6">
                 <div class="max-w-4xl shadow-xl bg-cover rounded-lg border-b-4 border-green-600 shadow-md bg-repeat-x" style="background-image: url('{{ glide:featured_image format="webp" }}')">
                        <div class="bg-white bg-opacity-80 px-10 py-6 rounded-lg">
                        <div class="flex justify-between items-center">
                        <a href="{{ url }}" class="text-2xl text-gray-700 font-bold hover:underline">{{ title }}</a>
                                <div class="mt-2">
                                <span class="ml-2 font-light text-gray-600">{{ publish_date format="m-d-Y"}}</span>
                                <a href="#"
                                class="ml-2 px-2 py-1 bg-green-500 text-white font-bold rounded hover:bg-gray-600">{{ category }}</a>
                                </div>
                                </div>
				{{ updated_by }}
                                <div class="pr-2">
                                        <span class="text-gray-400 text-sm font-bold hover:underline">{{ name }}</span>
                                </div>
				{{ /updated_by }}
                            <p class="mt-2 text-gray-600">{{ post }}</p>

                                    <div class="flex justify-between items-center mt-4">
                                   </div>
                        </div>
                    </div>
         
		</div>
</div>
