<div class="pt-6 mx-auto relative z-10">
<div class="mx-auto rounded-lg shadow-2xl mx-auto bg-cover max-w-6xl bg-repeat-y bg-center" style="background-image: url('{{ glide:album_artwork format="webp" }}')">
<div class="mx-auto rounded-lg mx-auto px-8 max-w-6xl bg-gradient-to-br bg-opacity-75 from-gray-200 backdrop-blur-sm md:backdrop-blur-none">
<div class="mx-auto">
    <div class="flex items-start">
        <article class="py-12 pr-12 md:pr-24 flex-1">
            <h1 class="">{{ title }}</h1>
            <div class="mt-4 flex items-start">
                <div>
		<p class="text-gray-800 text-lg">{{ release_type:title }} by: 
			{{ release_artist }}
			<a class="no-underline" href="{{ url }}">{{ title }}</a>{{ if release_artist > 1 }} <span class="text-gray-300 text-xs"> •</span>{{ /if }}
			{{ /release_artist }}
			</p>
			<div class="mt-1 font-mono text-gray-500 text-xs flex space-x-3 uppercase tracking-widest">
                        <span>Release Date: {{ release_date }}</span>
                        <span>/</span>
                        <span>Catalog Number: {{ catalog_number }}</span>

			</div>
                </div>
            </div>
            <div class="content pt-8">
	{{ content }}
    
    {{ if free_download === true }}
        <div class="mt-4 shadow-md inline-block hover:text-white text-strong text-sm bg-white text-gray-800 hover:bg-green-600 rounded-lg px-6 py-2 mx-2">

        <a href="{{ archive_cdn:url }}">
        <button>Download {{ title }} for free
        </button>
        </a>        
        </div>
    {{ /if }}

<section>
<h2 class="pt-8">Track list</h2>

	{{ select_tracks }}
    
        {{ partial:music/card }}

    {{ /select_tracks }}

</section>
        <div class="pt-8">
        
        {{ partial:partials/buy }}
        
	</div>
<section>
{{ if credits }}
<div class="pt-8">
{{ credits }}
<div class="mb-2">
<a class="no-underline rounded-md text-white mb-3 px-2 py-1 bg-gray-600 bg-opacity-75" href="{{ entries_field:0:url }}">{{ entries_field:0:title }}</a> <span class="rounded-md text-gray-700 mb-3 px-2 py-1 bg-gray-100 bg-opacity-75">{{ reason }}</span><br>
</div>
{{ /credits }}
{{ /if }}
</section>

        </article>
        <div class="hidden md:block w-[300px] relative mt-6">
		<img src="{{ glide:album_artwork square="600" format="webp" }}" 
			alt="{{ artwork:alt ?? "Album Artwork" }}" width="300" class="shadow-2xl inset-0 absolute z-10 rounded-full hover:shadow-none hover:animate-spin hover:duration-700 ease-in-out transform-gpu">


        </div>

    </div>

</div>
</div>
</div>

</div>
